* {
    margin: 0;
    padding: 0;
    transition: all .3s ease;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Proxima Nova Soft', sans-serif;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "proxima-nova-soft";
}
a {
  text-decoration: none;
  color: #293949;
  cursor: pointer;
}
img {
  width: auto;
  height: auto;
}
.home-page {
    height: 100%;
    width: 100%;
}
.cover {
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.nav-home {
    color: #333;
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 25px;
    height: 100px;
    padding-top: 30px;
}
.nav-home img {
  max-width: 40px;
  height: auto;
  float: left;
}
.nav-right {
  display: table;
  table-layout: fixed;
  float: right;
}
.nav-right a {
  display: table-cell;
  padding: 0 15px;
  position: relative;
}
.nav-right a:before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    margin-top: 50px;
    height: 0;
    transition: all 0.2s ease;
}

.nav-right a:hover:before {
    height: 3px;
    background-color: #293949;
}
.nav-right a:hover {

}
.nav-other {
    padding: 25px 0;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .1);
    font-size: 25px;
}
.inside-nav {
    width: 90%;
    max-width: 512px;
    margin: 0 auto;
}
.main {
    margin-top: -50px;
    text-align: center;
}
.logo img {
  max-width: 65%;
  height: auto;
  max-height: 500px;
  left: 0;
  right: 0;
}
.main-page {
    margin: 50px 0;
}
.box {
    width: calc(90% - 96px);
    max-width: calc(512px - 96px);
    margin: 0 auto;
    padding: 48px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, .1);
}
.box img {
    width: 100%;
}
#title {
    margin: 10px 0;
}
#hidden {
    display: none;
    font-size: 1.5em;
    color: #555;
    font-weight: 600;
}
.title {
    color: #555;
    font-weight: 600;
    text-decoration: none;
}
.by {
    color: #777;
    font-size: 12px;
    text-decoration: none;
}
.title:hover {
    color: #333;
}
.by:hover {
    color: #333;
}
.txt-ctr {
  width: 100%;
}
.txt {
  width: 100%;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 80px;
}
.get-started {
    margin-top: 40px;
    background-color: #fff;
    border: 4px solid #293949;
    text-decoration: none;
    font-weight: 700;
    padding: 15px 40px;
    border-radius: 40px;
    box-shadow: 10px 10px 0 #293949;
}
.get-started:hover {
  background-color: #293949;
  color: #fff;
  box-shadow: none;
}
.logo {
  max-height: 500px;
  padding: 7% 0 10% 0;
  width: 100%;
}
.choose {
    padding-top: 25px;
    text-align: center;
    font-size: 3em;
}
.choose .fa {
    padding: 0 25px;
    cursor: pointer;
}
.fa-close {
    color: #e74c3c;
}
.fa-check {
    color: #2ecc71;
}
@media screen and (max-width: 800px) {
  .logo {
    padding: 10% 0;
  }
  .logo img {
    width: 70%;
  }
}
